@charset "utf-8";
/* CSS Document */
body{ 
	background:#c7c7c7;}
html{
	font-size: 20px;
}

/*--nav start--*/
.nav{
	width:100%;
	height:1.33rem;
	border-bottom:1px solid #676767;
	background:#ffffff;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}
.nav-bg-dw{
	width:100%;
	height:1.33rem;
	margin-bottom:0.22rem;
}
.logo,.logo img{
	width:3.55rem;
	height:1.33rem;
}
.logo{
	float:left;
}
.nav-list{
	float:left;
}
.nav-list li{
	float:left;
}
.nav-list li h3{
	line-height:1.33rem;
	margin-left:1.2rem;
	font-size:0.58rem;
}

/*--nav end--*/


/*--dot dress start--*/
.dot{
	width:15.55rem;
	margin:0 auto;
	padding:0.22rem 0;
	background:#ffffff;
	border-radius:0.22rem;
	margin-top:0.22rem;
}
.hotline{
	height:1.33rem;
	line-height:1.33rem;
	padding:0 0.8rem;
}
.hotline-span-left{
	float:left;
	font-size:0.58rem;
	color:#616161;
}
.hotline-span-right{
	float:right;
	font-size:0.58rem;
	color:#e60012;
	background:url(../images/dress-iphone.png) no-repeat right center;
	background-size:0.88rem 0.88rem;
	padding-right:1.24rem;
}
.dress-list{
	width:15.55rem;
	margin:0 auto;
	margin-top:0.22rem;
}
.dress-list li{
	position:relative;
	border-radius:0.22rem;
	background:#ffffff;
	padding:0.3rem 0 0.3rem 2rem;
	margin-bottom:0.22rem;
}
.dress-list li h3{
	font-size:0.58rem;
	padding-bottom:0.18rem;
}
.dress-list li p{
	font-size:0.5rem;
	color:#616161;
}
.dress-list li .dress-p{
	margin-bottom:0.1rem;
}
.dress-list li span{
	position:absolute;
	top:0.31rem;
	left:0.84rem;
	display:inline-block;
	width:0.8rem;
	height:1.06rem;
	background:url(../images/pin.png) no-repeat;
	background-size:contain;
}
/*--dot dress end--*/


/*--right fixed start--*/
.right-fiexd{
	position:fixed;
	right:0;
	bottom:0.45rem;
	width:1.33rem;
	z-index:88;
}
.return-top{
	width:1.33rem;
	height:1.33rem;
	margin-bottom:0.45rem;
}
.return-top img{
	width:1.33rem;
	height:1.33rem;
}
.ask,.ask img{
	width:1.33rem;
	height:3.22rem;
}
/*--right fixed end--*/


/*--footer start--*/
.footer{
	width:100%;
	border-top:0.44rem solid #c7c7c7;
	background:#d9d9d9;
	padding:1rem 0;
}
.footer p{
	padding:0 0.5rem;
	font-size:0.5rem;
	color:#000000;
	text-align:center;
	margin-bottom:0.22rem;
}
/*--footer end--*/