@charset "utf-8";
/* CSS Document */
body{ 
	background:#f6f6f6;}
html{
	font-size: 20px;
}


/*--nav start--*/
.nav{
	width:100%;
	height:1.33rem;
	border-bottom:1px solid #676767;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	background:#ffffff;
}
.nav-bg-dw{
	width:100%;
	height:1.33rem;
}
.logo,.logo img{
	width:3.55rem;
	height:1.33rem;
}
.logo{
	float:left;
}
.nav-list{
	float:left;
}
.nav-list li{
	float:left;
}
.nav-list li h3{
	line-height:1.33rem;
	margin-left:1.2rem;
	font-size:0.58rem;
}
.nav-list li h3 a{
	display:inline-block;
}
/*--nav end--*/

/*--top-tab start--*/
.tab{
	position:relative;
	width:100%;
	overflow:hidden;
}
.tab img{
	float:left;
	width:100%;
	height:9.66rem;
	background-size:100%;
}
.tab .swiper-pagination {
    text-align:right;
	right:1.78rem;
	bottom:0.9rem !important;
}
.tab .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
	margin:0 3px !important;
}	
.tab .swiper-pagination-bullet-active {
	background: #e60012;
}
.tab .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	width: 90% !important
}
.tab .opabox {
	position: absolute;
	bottom: 0.67rem;
	left: 0.23rem;
	width: 15.55rem;
	height: 1.34rem;
}
.tab .opa {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter:alpha(opacity:60);
	position: absolute;
}
.tab_col {
	width: 98%;
	color: #FFF;
	position: relative;
	font-size: 0.55rem;
	font-family: "微软雅黑";
	line-height: 1.34rem;
	padding-left: 2%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*--top-tab end--*/

/*--product start--*/
.product{
	width:100%;
	border-top:1px solid #c7c7c7;
	border-bottom:0.22rem solid #c7c7c7;
	background:#ffffff;
	padding-top:0.6rem;
}

.product-ul{
	margin:0 auto;
	width:13.88rem;
}
.product-ul li{
	float:left;
	width:3.47rem;
	margin-bottom:0.84rem;
}
.product-ul li img{
	margin-left:1rem;
	margin-bottom:0.4rem;
	width:1.55rem;
	height:1.55rem;
}
.span-name a{
	text-align:center;
	display:block;
	font-size:0.58rem;
}
/*--product end--*/

/*--news start--*/
.news{
	width:100%;
	height:16.8rem;
	background:#ffffff;
	border-bottom:0.22rem solid #c7c7c7;
}
.news-box{
	margin:0 auto;
	width:14.22rem;
	height:1.44rem;
}
.news-title{
	width:4.73rem;
	height:0.93rem;
	float:left;
	margin-top:0.31rem;
	margin-left:0.17rem;
}
.news-title img{
	width:4.73rem;
	height:0.93rem;
}
.news-more{
	float:right;
	width:1.8rem;
	height:0.33rem;
	margin-top:0.93rem;
	margin-right:0.28rem;
}
.news-more img{
	width:1.8rem;
	height:0.33rem;
}
.news-list{
	width:14.22rem;
	height:15.36rem;
	margin:0 auto;
}
.news-whole{
	width:14.22rem;
	height:15.36rem;
}
.news-whole li{
	width:13.78rem;
	padding:0.88rem 0;
	border-top:1px solid #d9d9d9;
	padding-left:0.45rem;
}
.news-pic,.news-pic img{
	width:5.33rem;
	height:3.26rem;
}
.news-pic{
	float:left;
}
.news-cont{
	width:7.97rem;
	float:left;
}
.news-cont-p1{
	height:2.4rem;
	line-height:0.8rem;
	padding-left:0.37rem;
	margin-bottom:0.4rem;
}
.news-cont-p1>a{
	display:block;
	font-size:0.58rem;
	color:#434343;
}
.news-cont-span1{
	height:0.31rem;
	font-size:0.5rem;
	padding-left:0.82rem;
	background:url(../images/preview.png) no-repeat left center;
	background-size:contain;
}
.news-cont-p2{
	text-align:right;
	line-height:0;
}
.news-cont-span2{
	height:0.35rem;
	font-size:0.5rem;
	padding-left:0.82rem;
	background:url(../images/tick.png) no-repeat left center;
	background-size:contain;
}
/*--news end--*/

/*--Engineering case start--*/
.case{
	width:100%;
	background:#ffffff;
	padding-bottom:0.22rem;
}
.case-box{
	margin:0 auto;
	width:14.22rem;
	height:1.44rem;
}
.case-title{
	width:4.82rem;
	height:0.93rem;
	float:left;
	margin-top:0.31rem;
	margin-left:0.17rem;
}
.case-title img{
	width:4.82rem;
	height:0.93rem;
}
.case-more{
	float:right;
	width:1.8rem;
	height:0.33rem;
	margin-top:0.93rem;
	margin-right:0.28rem;
}
.case-more img{
	width:1.8rem;
	height:0.33rem;
}
.case-theme{
	width:14.22rem;
	margin:0 auto;
	border-top:1px solid #d9d9d9;
	padding-top:1rem;
}
.case-cont{
	width:13.33rem;
	margin:0 auto;
}
.case-cont li{
	width:6.53rem;
	margin-bottom:0.44rem;
}
.case-cont-left{
	float:left;
}
.case-cont-right{
	float:right;
}
.case-cont-pic,.case-cont-pic img{
	width:6.53rem;
	height:4.31rem;
}
.case-cont-nr{
	width:6.53rem;
	background:#f4f4f4;
	padding-bottom:0.22rem;
}
.case-cont-nr>h5{
	height:2.44rem;
	text-align:center;
	font-size:0.58rem;
	font-weight:bold;
	color:#434343;
	border-top:0.11rem solid #efefef;
	padding:0.11rem 0.1rem 0 0.1rem;
	line-height:0.84rem;
}
.case-cont-p1{
	font-size:0.4rem;
	color:434343;
	padding:0 0.48rem;
	line-height:0.66rem;
}

.case-cont-p2{
	text-align:center;
}
.case-cont-span2{
	height:0.35rem;
	font-size:0.5rem;
	padding-left:0.82rem;
	background:url(../images/tick.png) no-repeat left center;
	background-size:contain;
}
/*--Engineering case end--*/


/*--right fixed start--*/
.right-fiexd{
	position:fixed;
	right:0;
	bottom:0.45rem;
	width:1.33rem;
	z-index:88;
}
.return-top{
	width:1.33rem;
	height:1.33rem;
	margin-bottom:0.45rem;
}
.return-top img{
	width:1.33rem;
	height:1.33rem;
}
.ask,.ask img{
	width:1.33rem;
	height:3.22rem;
}
/*--right fixed end--*/


/*--footer start--*/
.footer{
	width:100%;
	background:#d9d9d9;
	border-top:0.44rem solid #c7c7c7;
	padding:1rem 0;
}
.footer p{
	padding:0 0.5rem;
	font-size:0.5rem;
	color:#000000;
	text-align:center;
	margin-bottom:0.22rem;
}
/*--footer end--*/









