@charset "utf-8";
/* CSS Document */
body{ 
	background:#c7c7c7;
}
html{
	font-size: 20px;
}


/*--nav start--*/
.nav{
	width:100%;
	height:1.33rem;
	border-bottom:1px solid #D9D9D9;
	background:#ffffff;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}
.nav-bg-dw{
	width:100%;
	height:1.33rem;
}
.logo,.logo img{
	width:3.55rem;
	height:1.33rem;
}
.logo{
	float:left;
}
.nav-list{
	float:left;
}
.nav-list li{
	float:left;
}
.nav-list li h3{
	line-height:1.33rem;
	margin-left:1.2rem;
	font-size:0.58rem;
}
.nav-list li h3 .map-color{
	color:#e21001;
}
/*--nav end--*/





/*--news page start--*/
.news-page{
	width:100%;
	background:#ffffff;
}
.news-page h3{
	font-size:0.71rem;
	color:#222222;
	font-weight:bold;
	text-align:center;
	padding-top:1.45rem;
}
.news-page-p1{
	text-align:center;
}
.news-page-p1 span{
	font-size:0.5rem;
	color:#222222;
}
.news-page-p2{
	font-size:0.57rem;
	color:616161;
	padding:0 1rem;
	line-height:1.3rem;
	text-indent:2em;
	padding-top:0.5rem;
}
.news-lock{
	text-align:center;
	height:1.55rem;
	background:#f4f4f4;
}
.news-lock a{
	font-size:0.53rem;
	color:#e60012;
	background:url(../images/bottom-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.44rem;
}
.news-lock .sany-jhs-btn1{
	font-size:0.53rem;
	color:#e60012;
	background:url(../images/top-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.44rem;
}
.sany-jhs1{
	display:none;
}
/*--news page end--*/


/*--shart start--*/
.shart{
	width:100%;
	height:2.26rem;
	background:#ffffff;
	margin:0.22rem 0;
}
.shart span{
	float:left;
	font-size:0.53rem;
	color:#616161;
	line-height:2.26rem;
	padding-right:0.31rem;
	padding-left:1.64rem;
}
.shart a{
	width:1.77rem;
	height:1.77rem;
	float:left;
	margin-top:0.26rem;
	margin-right:0.4rem;
}
.shart a img{
	width:1.77rem;
	height:1.77rem;
}
/*--shart end--*/


/*--read start--*/
.news{
	width:100%;
	-height:16.8rem;
	background:#c7c7c7;
	border-bottom:0.22rem solid #c7c7c7;
	padding-bottom:0.
}
.news-box{
	margin:0 auto;
	width:14.66rem;
	height:1.44rem;
}
.news-title{
	width:3.95rem;
	height:0.93rem;
	float:left;
	margin-top:0.31rem;
	margin-left:0.17rem;
}
.news-title img{
	width:3.95rem;
	height:0.93rem;
}
.news-more{
	float:right;
	width:1.8rem;
	height:0.33rem;
	margin-top:0.93rem;
	margin-right:0.28rem;
}
.news-more img{
	width:1.8rem;
	height:0.33rem;
}
.news-list,{
	width:100%;
}
.news-list{
	background:#ffffff;
	width:100%;
	margin:0 auto;
}
.news-list h3{
	width:13.88rem;
	font-size:0.57rem;
	height:1.77rem;
	text-align:center;
	color:#616161;
	line-height:1.77rem;
	border-bottom:1px solid #616161;
	margin:0 auto;
}
.news-whole{
	padding-left:0.88rem;
}
.news-whole li{
	padding:0.88rem 0 0.88rem 0.22rem;
}
.news-pic,.news-pic img{
	width:5.33rem;
	height:3.26rem;
}
.news-pic{
	float:left;
}
.news-cont{
	width:8.46rem;
	float:left;
}
.news-cont h5{
	font-size:0.53rem;
	color:#616161;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left:0.37rem;
	margin-bottom:0.22rem;
}
.news-cont-p1{
	height:1.9rem;
	line-height:0.8rem;
	padding-left:0.37rem;
}
.news-cont-p1 a{
	display:block;
	font-size:0.48rem;
	color:#808080;
}

.news-cont-p2{
	text-align:right;
	line-height:0;
}
.news-cont-span2{
	height:0.35rem;
	font-size:0.5rem;
	padding-left:0.82rem;
	padding-right:0.55rem;
	background:url(../images/tick.png) no-repeat left center;
	background-size:contain;
}
/*--read end--*/


/*--right fixed start--*/
.right-fiexd{
	position:fixed;
	right:0;
	bottom:0.45rem;
	width:1.33rem;
	z-index:88;
}
.return-top{
	width:1.33rem;
	height:1.33rem;
	margin-bottom:0.45rem;
}
.return-top img{
	width:1.33rem;
	height:1.33rem;
}
.ask,.ask img{
	width:1.33rem;
	height:3.22rem;
}
/*--right fixed end--*/


/*--footer start--*/
.footer{
	width:100%;
	border-top:0.44rem solid #c7c7c7;
	background:#d9d9d9;
	padding:1rem 0;
}
.footer p{
	padding:0 0.5rem;
	font-size:0.5rem;
	color:#000000;
	text-align:center;
	margin-bottom:0.22rem;
}
/*--footer end--*/