@charset "utf-8";
/* CSS Document */
body{ 
	background:#c7c7c7;
}
html{
	font-size: 20px;
}


/*--nav start--*/
.nav{
	width:100%;
	height:1.33rem;
	border-bottom:1px solid #D9D9D9;
	background:#ffffff;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}
.nav-bg-dw{
	width:100%;
	height:1.33rem;
}
.logo,.logo img{
	width:3.55rem;
	height:1.33rem;
}
.logo{
	float:left;
}
.nav-list{
	float:left;
}
.nav-list li{
	float:left;
}
.nav-list li h3{
	line-height:1.33rem;
	margin-left:1.2rem;
	font-size:0.58rem;
}
.nav-list li h3 .map-color{
	color:#e21001;
}
/*--nav end--*/





/*--product info start--*/
.info{
	width:14.66rem;
	margin:0 auto;
	border-radius:0.22rem;
	overflow:hidden;
	margin-bottom:0.44rem;
	margin-top:0.44rem;
	background:#ffffff;
}
.info-pic,.info-pic img{
	width:14.66rem;
	height:10.88rem;
}
.info-cont h4{
	font-size:0.57rem;
	color:#616161;
	text-align:center;
}

.info-cont-p2{
	text-align:center;
	margin-bottom:0.62rem;
}
.info-cont-p2 a{
	font-size:0.53rem;
	color:#e60012;
	padding-left:0.8rem;
}
.dress{
	background:url(../images/dress.png) no-repeat left center;
	background-size:0.57rem 0.48rem;
}
.postion{
	background:url(../images/postion.png) no-repeat left center;
	background-size:0.4rem 0.53rem;
}
.iphone{
	background:url(../images/iphone.png) no-repeat left center;
	background-size:0.46rem 0.62rem;
}
.quality{
	width:14.22rem;
	margin:0 auto;
	padding:0.77rem 0;
	border-top:1px solid #c7c7c7;
	text-align:center;
}
.quality a{
	display:inline-block;
	font-size:0.4rem;
	color:#828282;
	height:0.93rem;
	line-height:0.93rem;
}
.cation{
	background:url(../images/cation.png) no-repeat left center;
	background-size:0.84rem 0.88rem;
	padding-left:1.11rem;
}
.warranty{
	background:url(../images/warranty.png) no-repeat left center;
	background-size:0.73rem 0.88rem;
	padding-left:1.11rem;
}
.business{
	background:url(../images/business.png) no-repeat left center;
	background-size:0.95rem 0.86rem;
	padding-left:1.11rem;
}
/*--product info end--*/

/*--policy cont start--*/
.policy{
	width:14.66rem;
	margin:0 auto;
	border-radius:0.22rem;
	background:#ffffff;
	margin-bottom:0.44rem;
}
.policy-service h3{
	font-size:0.57rem;
	color:#666161;
	text-align:center;
	height:1.77rem;
	line-height:1.77rem;
}
.policy-service h3 a{
	font-size:0.57rem;
	color:#666161;
}
.policy-service h4{
	font-size:0.5rem;
	text-align:center;
	color:#616161;
	margin-bottom:0.4rem;
}
.policy-service-cot{
	width:13.22rem;
	font-size:0.57rem;
	color:#666161;
	text-align:center;
	line-height:0.88rem;
	margin:0 auto;
	border-bottom:1px solid #c7c7c7;
	padding:0 0.5rem 0.75rem 0.5rem;
}
.policy-service-cot p{
	text-indent:2em;
	font-size:0.57rem;
	color:#666161;
	text-align:left;
	line-height:0.88rem;
	padding:0 0.5rem 0.5rem 0.5rem;
}
.policy-service-d2{
	display:none;
}
.policy-service-cot a{
	font-size:0.57rem;
	color:#e60012;
	background:url(../images/bottom-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.6rem;
	display:inline-block;
}
.policy-service-cot .policy-service-btn1{
	font-size:0.57rem;
	color:#e60012;
	background:url(../images/top-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.6rem;
	display:inline-block;
}
.policy-service .clear-bk{
	border:none;
}
.policy-service-jishu{
	width:13.22rem;
	font-size:0.57rem;
	color:#666161;
	text-align:center;
	line-height:0.88rem;
	margin:0 auto;
	border-bottom:1px solid #c7c7c7;
	padding:0 0.5rem 0.75rem 0.5rem;
}
.policy-service-jishu p{
	font-size:0.57rem;
	color:#666161;
	text-align:center;
	line-height:0.88rem;
	padding:0 0.5rem 0.5rem 0.5rem;
}
.policy-service-jishu a{
	font-size:0.57rem;
	color:#e60012;
	background:url(../images/bottom-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.6rem;
	display:inline-block;
}
.policy-service-jishu .jscanshu-btn1{
	font-size:0.57rem;
	color:#e60012;
	background:url(../images/top-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.6rem;
	display:inline-block;
}
.policy-jscanshu2{
	display:none;
}
/*--policy cont end--*/



/*--right fixed start--*/
.right-fiexd{
	position:fixed;
	right:0;
	bottom:0.45rem;
	width:1.33rem;
	z-index:88;
}
.return-top{
	width:1.33rem;
	height:1.33rem;
	margin-bottom:0.45rem;
}
.return-top img{
	width:1.33rem;
	height:1.33rem;
}
.ask,.ask img{
	width:1.33rem;
	height:3.22rem;
}
/*--right fixed end--*/


/*--footer start--*/
.footer{
	width:100%;
	border-top:0.44rem solid #c7c7c7;
	background:#d9d9d9;
	padding:1rem 0;
}
.footer p{
	padding:0 0.5rem;
	font-size:0.5rem;
	color:#000000;
	text-align:center;
	margin-bottom:0.22rem;
}
/*--footer end--*/