@charset "utf-8";
/* CSS Document */
body{ 
	background:#f6f6f6;}
html{
	font-size: 20px;
}


/*--nav start--*/
.nav{
	width:100%;
	height:1.33rem;
	border-bottom:1px solid #D9D9D9;
	background:#ffffff;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}
.nav-bg-dw{
	width:100%;
	height:1.33rem;
}
.logo,.logo img{
	width:3.55rem;
	height:1.33rem;
}
.logo{
	float:left;
}
.nav-list{
	float:left;
}
.nav-list li{
	float:left;
}
.nav-list li h3{
	line-height:1.33rem;
	margin-left:1.2rem;
	font-size:0.58rem;
}
.nav-list li h3 .map-color{
	color:#e21001;
}
/*--nav end--*/

/*--all products start--*/
.product-name{
	width:100%;
}
.product-name-tit{
	width:100%;
	height:1.37rem;
	border-bottom:1px solid #D9D9D9;
}
.product-name-tit h2{
	float:left;
	font-size:0.55rem;
	font-weight:bold;
	color:616161;
	margin-left:0.82rem;
	line-height:1.37rem;
}
.product-name-tit a{
	float:left;
	display:inline-block;
	font-size:0.55rem;
	color:#e60012;
	line-height:1.37rem;
	margin-left:4.02rem;
	background:url(../images/top-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.66rem;
}
.product-name-tit a.on{
	float:left;
	display:inline-block;
	font-size:0.55rem;
	color:#e60012;
	line-height:1.37rem;
	margin-left:4.02rem;
	background:url(../images/bottom-horn.png) no-repeat right center;
	background-size:0.4rem 0.31rem;
	padding-right:0.66rem;
}
.product-name-introduce{
	width:100%;
}
.product-list-name{
	width:100% - 0.64rem;
	padding:0.37rem 0 0 0.64rem;
}
.product-list-name li{
	float:left;
	width:3.28rem;
	height:1.51rem;
	border:1px solid #616161;
	border-radius:0.22rem;
	margin:0 0.4rem 0.4rem 0;
}
.product-list-name li a{
	display:block;
	line-height:1.51rem;
	font-size:0.48rem;
	color:#616161;
	text-align:center;
}
.product-list-name li a:hover{
	color:red;
}
.product-list-name li .country-equipment{
	line-height:normal;
	padding-top:0.1rem;
}
/*--all products end--*/

/*--product exhibition start--*/
.product-exhibition{
	width:100%;
	background:#c7c7c7;
}
.product-exhibition-list{
	width:14.66rem;
	margin:0 auto;
	padding-top:0.44rem;
}
.product-exhibition-list li{
	width:14.66rem;
	background:#ffffff;
	border:1px solid #aaaaaa;
	border-radius:0.22rem;
	margin-bottom:0.44rem;
	overflow:hidden;
}
.product-exhibition-list .clear-margin{
	margin:0;
}
.product-exhibition-left,.product-exhibition-left img{
	width:4.48rem;
	height:2.71rem;
}
.product-exhibition-left{
	float:left;
	margin:1.77rem 0 0 0.73rem;
}
.product-exhibition-right{
	position:relative;
	float:right;
	width:7.88rem;
	background:#f4f4f4;
	padding:0.8rem 0 0.5rem 1rem;
}
.product-exhibition-right h4{
	font-size:0.57rem;
	color:#616161;
	font-weight:bold;
}
.product-exhibition-right h5{
	font-size:0.44rem;
	color:#616161;
	font-weight:bold;
	margin:0.31rem 0 0.6rem;
}
.product-exhibition-right p{
	font-size:0.4rem;
	color:#808080;
	margin-bottom:0.26rem;
}
.pic-location{
	display:block;
	position:absolute;
	left:-0.66rem;
	top:2rem;
	width:1.5rem;
	height:1.5rem;
	border-radius:50%;
	background:#e60012;
	text-align:center;
	line-height:1.5rem;
	color:#ffffff;
	font-size:0.53rem;
}
/*--products exhibition end--*/


/*--right fixed start--*/
.right-fiexd{
	position:fixed;
	right:0;
	bottom:0.45rem;
	width:1.33rem;
	z-index:88;
}
.return-top{
	width:1.33rem;
	height:1.33rem;
	margin-bottom:0.45rem;
}
.return-top img{
	width:1.33rem;
	height:1.33rem;
}
.ask,.ask img{
	width:1.33rem;
	height:3.22rem;
}
/*--right fixed end--*/


/*--footer start--*/
.footer{
	width:100%;
	border-top:0.44rem solid #c7c7c7;
	background:#d9d9d9;
	padding:1rem 0;
}
.footer p{
	padding:0 0.5rem;
	font-size:0.5rem;
	color:#000000;
	text-align:center;
	margin-bottom:0.22rem;
}
/*--footer end--*/