@charset "utf-8";
/* CSS Document */

a:hover {
	color: #32d3c3;
}
ul li span a:hover {
	color: #32d3c3;
}
ul li .con-nav-left-list-link a:hover {
	color: #32d3c3;
}
/*头部*/
.header {
	height: 30px;
	background: #f9f9f9;
	border-bottom: 1px solid #dddddd;
}
.header-top {
	width: 980px;
	margin: 0 auto;
}
.header-top-left {
	float: left;
	height: 30px;
}
.header-top-left>li {
	float: left;
	padding: 10px 5px;
}
.header-top-left a {
	color: #666666;
}
.star {
	width: 14px;
	height: 14px;
	float: left;
	background: url(../images/xuebitu.png) no-repeat 0 0;
	margin-right: 5px;
}
.header-top-left-tow a {
	color: #F00;
}
.header-top-left-four i {
	width: 10px;
	height: 14px;
	background: url(../images/xuebitu.png) no-repeat -13px 0;
	float: left;
	margin-right: 3px;
}
.header-top-left-four a {
	float: left;
}
.header-top-left-four {
	position: relative;
	width: 80px;
}
.triangle {
	width: 5px;
	height: 5px;
	background: url(../images/xuebitu.png) no-repeat -26px 0;
	float: right;
	margin-top: 4px;
	margin-left: 3px;
}
.header-top-left-three a {
	margin-right: 5px;
}
.header-top-right {
	float: right;
	margin-right: 2px;
}
.header-top-right-one {
	float: left;
	position: relative;
	height: 28px;
	border: 1px solid #f9f9f9;
}
.header-top-left-one1>.xtriangle1 {
	left: 80px;
}
.header-top-right-one>a {
	border-right: 1px solid #999;
	padding: 0 18px;
	line-height: 30px;
}
.active.header-top-right-one>b {
	position: absolute;
	top: 3px;
	left: -3px;
	border: 1px solid #f9f9f9;
	height: 20px;
}
.xtriangle1 {
	width: 5px;
	height: 5px;
	background: url(../images/xuebitu.png) no-repeat -26px 0;
	position: absolute;
	top: 12px;
	left: 75px;
}
.xtriangle2 {
	width: 5px;
	height: 5px;
	background: url(../images/xuebitu.png) no-repeat -26px 0;
	position: absolute;
	top: 12px;
	left: 45px;
}
.xtriangle {
	width: 5px;
	height: 5px;
	background: url(../images/xuebitu.png) no-repeat -26px 0;
	display: inline-block;
	margin: 5px 0px 0px 8px;
}
.buycar {
	width: 12px;
	height: 12px;
	background: url(../images/xuebitu.png) no-repeat -33px 0;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 10px;
	margin-right: 10px;
}
.header-top-right .header-top-left-four span {
	color: #F00;
}
.header-top-right .header-top-left-last>a {
	border-right: none;
}
.header-middle {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.header-middle img {
	width: 980px;
}
.header-middle .close {
	position: absolute;
	width: 12px;
	height: 12px;
	background: url(../images/xuebitu.png) no-repeat -217px 0;
	top: 10px;
	right: 10px;
}
.header-bottom {
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
}
/*logo*/
h1 {
	width: 85px;
	height: 56px;
	background: url(../images/xuebitu.png) no-repeat -58px 0;
	float: left;
}
.header-bottom-address-select {
	display: none;
}
.header-bottom-address {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.header-bottom-address span {
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
}
.header-bottom-address b a {
	width: 58px;
	height: 20px;
	border: 1px solid #eee;
	font-size: 12px;
	display: block;
	line-height: 25px;
	text-align: center;
	color: #999
}
.header-bottom-search {
	width: 486px;
	height: 40px;
	border: 2px solid #2db8ad;
	float: left;
	margin-left: 85px;
}
.header-bottom-search-left {
	width: 52px;
	height: 28px;
	border-right: 1px solid #eee;
	font-size: 14px;
	text-align: center;
	padding-left: 10px;
	padding-top: 13px;
	float: left;
}
.header-bottom-search-left .xltriangle {
	margin-left: 0px;
	width: 5px;
	height: 5px;
	background: url(../images/xuebitu.png) no-repeat -26px 0;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}
.header-bottom-search-middle {
	width: 353px;
	height: 38px;
	float: left;
	color: #666;
	line-height: 40px;
	padding-left: 5px;
	position: relative;
}
#search {
	width: 345px;
	height: 39px;
	color: #666;
	line-height: 40px;
	padding-left: 5px;
	outline: none;
	border: none;
	position: absolute;
	top: 1px;
	left: 0px;
}
#span1 {
	color: #666;
	line-height: 40px;
	padding-left: 5px;
	position: absolute;
	top: 1px;
	left: 0px;
}
.header-bottom-search-right {
	width: 65px;
	height: 40px;
	background: #2bb8aa;
	text-align: center;
	line-height: 40px;
	float: left;
}
.header-bottom-search-right a {
	color: #fff;
}
.header-bottom-search-p {
	margin-top: 55px;
}
.header-bottom-search-p a {
	padding: 0 5px;
}
.header-bottom-icon {
	float: right;
	margin-top: 10px;
}
.header-bottom-icon a {
	float: left;
	margin-left: 20px;
	text-align: center;
}
.header-bottom-icon a i {
	width: 23px;
	height: 23px;
	display: block;
}
.header-bottom-icon-one i {
	background: url(../images/xuebitu.png) no-repeat -144px 0;
	margin-left: 5px;
}
.header-bottom-icon-two i {
	background: url(../images/xuebitu.png) no-repeat -169px 0;
	margin-left: 18px;
}
.header-bottom-icon-three i {
	background: url(../images/xuebitu.png) no-repeat -194px 0;
	margin-left: 5px;
}
/*导航-全部分类*/
.con {
	width: 980px;
	margin: 0 auto;
	margin-top: 30px;
}
.con-nav-left {
	width: 240px;
	background: #1cbca7;
	float: left;
}
.con-nav-left-nav {
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	padding-left: 15px;
	border: 1px solid #eee;
	width: 224px;
}
.con-nav-left-nav a {
	color: #fff;
	font-weight: bold
}
.con-nav-left-list {
	display: none;
	background: #fafafa;
	border: 1px solid #eee;
	border-top: none;
	position: relative;
	border-right: none;
}
.con-nav-sublist {
	display: none;
}
.con-nav-left-list>li {
	padding: 18px 5px;
	height: 17px;
	border-right: 1px solid #eee;
}
.con-nav-left-list>li>div>a {
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.con-nav-left-list>li>div>span {
	float: right;
	padding-left: 5px;
}
.con-nav-left-list>li>span>a {
	font-size: 12px;
	color: #666;
}
.con-nav-left-list .con-nav-left-list-last {
	border-bottom: none;
}
.downline {
	display: block;
	width: 225px;
	height: 1px;
	background: url(../images/pic-16.jpg) no-repeat;
	margin-top: 20px;
}
.con-nav-left-list>li.show {
	background: #fff;
	border-right: 1px solid #fff;
}
.con-nav-left-list>li.show1 {
	background: #fff;
}
.show-sublist {
	display: block;
	position: absolute;
	left: 236px;
	top: -1px;
	width: 300px;
	height: 476px;
	border: 1px solid #eee;
	background: #fff;
	z-index: 2;
	border-left: none;
	text-align: center;
	line-height: 30px;
}
.con-nav-right {
	width: 740px;
	float: left;
}
.con-nav-right-nav {
	width: 740px;
	height: 40px;
	background: #2bb8aa;
	margin-top: 1px;
}
.con-nav-right-nav>li>a {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.con-nav-right-nav>li {
	float: left;
	padding: 9px 22px;
}
.con-nav-right-nav>li:hover {
	background: #6ee5d2;
	height: 22px;
}
.list-con-left .scrollactive {
	display: block;
}
.list-con-left li {
	display: none;
}
.group {
	width: 980px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
}
.group-class {
	line-height: 35px;
}
.group-class a {
	padding-right: 5px;
}
/*详情*/
.detail {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}
.detail-left {
	width: 460px;
}
.detail-left, .detail-right {
	float: left;
}
.detail-left h3 {
	font-size: 28px;
	font-weight: bold;
	margin-left: -13px;
}
.detail-left p {
	color: #999;
	font-size: 14px;
}
.detail-left img {
	width: 460px;
	height: 280px;
}
.active .detail {
	display: block;
}
.pic-detail-min {
	border: 1px solid #eee;
	height: 54px;
}
.pic-detail-min img {
	width: 80px;
	height: 50px;
	padding: 2px;
	background: #fff;
	float: left;
}
.pic-detail {
	display: none;
	position: relative;
}
.pic-detail.active {
	display: block;
}
.location1 {
	width: 43px;
	height: 40px;
	background: url(../images/xuebitu.png) no-repeat -347px -63px;
	position: absolute;
	left: 10px;
	top: -4px;
}
.location2 {
	width: 43px;
	height: 40px;
	background: url(../images/xuebitu.png) no-repeat -347px -20px;
	position: absolute;
	left: 50px;
	top: -5px;
}
.favorable {
	color: #f40;
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
}
.detail-left>p {
	margin-top: 5px;
}
.print {
	color: #999;
	font-size: 12px;
}
.original {
	color: #999;
	font-size: 12px;
	text-decoration: line-through;
	margin-top: 5px;
}
.print, .print1 {
	color: #999;
	font-size: 12px;
}
.print2 {
	color: #F00;
}
.pic-detail, .pic-detail-min {
	margin-top: 10px
}
.detail-right-group {
	margin-top: 60px;
	padding: 20px 10px;
	border-bottom: 1px solid #eee;
}
.detail-right {
	margin-left: 20px;
	width: 500px;
}
.group-pic {
	color: #999;
	font-size: 12px;
	margin-top: -5px;
	display: inline-block;
	margin-right: 20px;
}
.detail-right-ul li {
	float: left;
	padding: 10px 50px;
}
.detail-right-ul {
	border-bottom: 1px solid #eee;
}
.youxiaoqi {
	padding-left: 10px;
	margin: 15px 0;
}
#btn1, #btn {
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
	font-size: 18px;
}
#t {
	outline: none;
	border: none;
	width: 20px;
	text-align: center
}
.group-in {
	border: 1px solid #eee;
	display: inline-block;
	height: 30px;
	margin-top: 10px;
}
.qianggou {
	margin-left: 75px;
	float: left;
	width: 170px;
	height: 50px;
	background: #2dbeb0;
	color: #fff;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
.qianggou i {
	width: 18px;
	height: 9px;
	background: url(../images/xuebitu.png) no-repeat -165px -390px;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}
.buycar-l {
	margin: 0 15px;
	float: left;
	width: 64px;
	height: 48px;
	background: #f1f1f1;
	border: 1px solid #ddd;
}
.buycar-l i {
	width: 22px;
	height: 22px;
	background: url(../images/xuebitu.png) no-repeat -191px -379px;
	display: inline-block;
	margin: 14px 19px;
}
.group-star {
	margin-top: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/xuebitu.png) no-repeat -220px -385px;
}
.group-sh {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/xuebitu.png) no-repeat -239px -385px;
}
.group-sh span, .group-star span {
	color: #666;
}
.group-d {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.fuwu, .fuwu-d a {
	color: #666;
}
.fuwu {
	display: inline-block;
}
.fuwu-d {
	margin-top: 10px;
}
.fuwu-d i {
	width: 15px;
	height: 15px;
	background: url(../images/xuebitu.png) no-repeat -259px -385px;
	display: inline-block;
}
/*内容*/
.cont-abc {
	width: 980px;
	margin: 0 auto;
	margin-top: 40px;
}
.notice-left {
	width: 700px;
	float: left;
}
.notice-left-n {
	height: 103px;
	border: 1px solid #eee;
}
.notice-left-np {
	color: #666;
	border-right: 1px solid #eee;
	padding: 25px 65px;
}
.notice-left-np i {
	display: block;
	margin-bottom: 5px;
	width: 47px;
	height: 34px;
	background: url(../images/xuebitu.png) no-repeat -251px -182px;
}
.notice-left-np, .notice-left-nd {
	float: left;
}
.notice-left-nd {
	color: #666;
	width: 500px;
	padding: 30px 9px;
	line-height: 20px;
}
.boss {
	margin-top: 30px;
	border-top: 1px solid #eee;
}
.boss-seller h4 {
	font-size: 18px;
	padding-right: 250px;
}
.boss-seller h4, .boss-seller p {
	float: left;
	font-weight: bold;
}
.boss-seller p {
	padding-left: 55px;
	font-size: 12px;
	color: #666;
}
.boss-seller {
	padding: 20px 0 5px;
	border-bottom: 2px solid #bbb;
}
.boss-deta h4, .boss-deta p {
	float: left;
	color: #666;
}
.boss-deta p {
	padding-left: 68px;
}
.boss-deta h4 {
	padding-right: 65px;
}
.boss-deta .boss-deta-r {
	color: #F33;
	font-weight: bold;
	font-size: 14px;
}
.boss-deta {
	line-height: 35px;
	border-bottom: 1px solid #eee;
}
.boss-nav-ul, .boss-nav-ul-div {
	height: 43px;
	border: 1px solid #eee;
	background: #f9f9f9;
	margin-top: 50px;
}
.boss-nav-ul li {
	float: left;
	border-right: 1px solid #eee;
	padding: 15px 41px;
}
.boss-nav-ul .boss-nav-ul-last {
	border-right: none;
}
.boss-nav-ul li.active {
	background: #2bb8aa;
}
.boss-nav-ul li.active a {
	color: #fff;
}
.boss-nav-ul-div {
	height: 0;
}
.boss-nav {
	position: relative;
}
.boss-nav-ul {
	top: -52px;
	left: 183px;
}
.boss-rush {
	position: absolute;
	;
	top: -1px;
	right: 5px;
	width: 0px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-top: 5px;
	background: #F33;
	color: #fff;
	padding: 0
}
.list-con-right {
	width: 238px;
	float: right
}
.list-top-shou {
	width: 200px;
	height: 115px;
	border-bottom: 1px dashed #eee;
	margin: 0px auto;
}
.list-top-shou img, .list-top-shou div {
	float: left;
	margin-top: 30px;
}
.list-top-shou div {
	margin-left: 15px;
}
.list-top-shou h4 {
	font-size: 18px;
	font-weight: bold;
}
.list-top-shou p {
	background: url(../images/list-6.jpg) no-repeat 70px center #3bd0b8;
	color: #fff;
	margin-top: 10px;
	padding: 5px;
	font-size: 14px;
	border-radius: 5%;
	padding-left: 10px;
}
.list-top-shou span {
	color: #F00;
	font-weight: bold;
}
.list-top-t p {
	background: url(../images/list-7.jpg) no-repeat 70px center #f56d57;
	color: #fff;
	margin-top: 10px;
	padding: 5px;
	font-size: 14px;
	border-radius: 5%;
	padding-left: 10px;
}
.list-top-t {
	border-bottom: none;
}
.list-top {
	border: 1px solid #eee;
}
table {
	width: 700px;
	border-collapse: collapse;
	margin: 0 auto;
}
th {
	text-align: left;
	font-size: 18px;
	border-bottom: 2px solid #777;
	line-height: 47px;
}
td {
	border: 1px solid #eee;
	padding: 8px 0 8px 10px;
	line-height: 24px;
	color: #666;
}
.td1 {
	vertical-align: top;
	background: #f9f9f9;
	width: 150px;
	border-left: none;
	font-weight: bold;
}
.td2 {
	border-right: none;
}
.place-td1 {
	width: 400px;
	vertical-align: bottom;
	text-align: center;
}
.place-td1 img {
	width: 400px;
	margin-left: -10px;
	margin-top: -8px;
}
.place td {
	border: none;
	height: 20px;
}
.place-td2 {
	color: #2bb8aa;
	font-size: 14px;
	font-weight: bold;
}
.place-td3 span {
	color: #2bb8aa;
}
.place-td3 i {
	color: #F03;
	margin-left: 30px;
}
.detail-td1 {
	width: 400px;
}
.detail-t td {
	border: none;
}
.detail-t tr {
	border-bottom: 1px solid #eee;
}
.detail-t .detail-life {
	border-left: 3px solid #2bb8aa;
	font-size: 14px;
	background: #eee;
	margin-top: 5px;
}
.detail-t-b {
	margin-bottom: 10px;
}
.detail-red {
	color: #F00;
}
.detail-sell {
	margin-top: 30px;
}
.sell-t {
	text-indent: 2em;
}
.suggest {
	width: 640px;
	height: 389px;
	margin: 10px auto;
}
.konw {
	margin-top: 30px;
}
.list-con-middle, .list-con-guess {
	border: 1px solid #eee;
	margin-top: 30px;
}
.list-con-right h5 {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}
.list-con-middle img {
	width: 236px;
}
.list-con-guess img {
	width: 200px;
	height: 120px;
	margin: 0 auto;
}
.list-con-guess h3 {
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-top: 15px;
}
.list-con-guess span {
	margin-bottom: 10px;
}
.list-con-guess {
	margin-bottom: 20px;
}
.guess-s {
	margin-left: 15px;
	padding-bottom: 10px;
}
.list-con-guess-d {
	border-bottom: 1px dashed #eee;
	margin-bottom: 10px;
}
/*底部地区*/
.footer-nav {
	width: 980px;
	margin: 0 auto;
	margin-top: 40px;
}
.footer-nav-add>li {
	width: 89px;
	border: 1px solid #ededed;
	float: left;
	background: #f9f9f9;
	text-align: center;
	line-height: 25px;
}
.footer-classification>li {
	float: left;
	line-height: 30px;
	padding: 0 20px;
}
.footer-nav-subadd {
	border: 1px solid #ededed;
}
.footer-nav-subadd ul {
	display: none;
}
.footer-nav-subadd>ul.active {
	display: block;
}
.footer-nav-add>li.active {
	background: #eee;
}
.footer-line1 {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 0 auto;
	width: 980px;
	height: 2px;
	margin-top: 20px;
}
.footer-class {
	width: 980px;
	margin: 0 auto;
	margin-bottom: 30px;
}
dl {
	float: left;
	margin-right: 50px;
	margin-top: 10px;
}
dl dt {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 10px;
}
dd a {
	color: #999;
}
dd {
	margin: 5px 10px;
}
.footer-div {
	float: left;
	margin-top: 30px;
	margin-left: 50px;
	padding-left: 30px;
	border-left: 1px solid #eee;
}
.footer-div img {
	margin-bottom: 10px;
}
.footer-div h4 {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.footer-div i {
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}
.footer-div-p {
	margin-top: 10px;
}
.footer-div-p1 {
	color: #13c4b3;
	padding-bottom: 10px;
	line-height: 20px;
}
.footer-link {
	background: #f9f9f9;
	height: 170px;
	border-top: 1px solid #dddddd;
}
.footer-link-read {
	width: 980px;
	margin: 0 auto;
}
.footer-link-read p {
	line-height: 50px;
	text-align: center;
	color: #999;
}
.footer-link-read img {
	float: left;
	text-align: center;
	margin-left: 5px;
}
.pic-d {
	margin-left: 208px;
}
/*导航js*/
.header-top-right-one ul {
	display: none;
	border: 1px solid #ccc;
}
.header-top-right-one.active {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	z-index: 2;
}
.header-top-right-one.active a {
	border-right: 1px solid #fff;
}
.header-top-right-one .header-top-right-two {
	width: 85px;
	background: #fff;
	position: absolute;
	top: 28px;
	left: -1px;
	line-height: 24px;
	text-align: center;
	border-top: none;
}
.header-top-right-one .browse {
	background: #fff;
	width: 150px;
	position: absolute;
	right: -1px;
	top: 27px;
	height: 70px;
	border-top: 1px solid #ccc;
	line-height: 70px;
	text-align: center;
}
.actived {
	width: 83px;
	border: 1px solid #fff;
	height: 1px;
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 2
}
.actived1 {
	width: 89px;
	border: 1px solid #fff;
	height: 1px;
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 2
}
.header-top-right-one .header-top-buycar {
	background: #fff;
	width: 150px;
	position: absolute;
	right: -1px;
	top: 27px;
	height: 70px;
	border-top: 1px solid #999;
	line-height: 70px;
	border-top: 1px solid #ccc;
	text-align: center;
}
.header-top-right-use {
	background: #fff;
	width: 100px;
	position: absolute;
	right: -1px;
	top: 27px;
	border-top: 1px solid #999;
	line-height: 30px;
	text-align: center;
	border-top: 1px solid #ccc;
}/*中间选项卡js准备*/
/*js微信*/
.dropdown-menu {
	display: none;
	width: 160px;
	height: 264px;
	border: 1px solid #eee;
	position: absolute;
	top: 30px;
	left: -1px;
	background: #fff;
	z-index: 1;
	border-top: none;
}
.active.header-top-left-four-block {
	width: 80px;
	border: 1px solid #eee;
	background: #fff;
	height: 29px;
	padding: 9px 4px;
}
.active.dropdown-menu {
	display: block;
}
.block-content {
	width: 88px;
	height: 88px;
	background: url(../images/xuebitu.png) no-repeat -65px -312px;
	display: inline-block;
	margin: 10px 36px;
}
.block-title {
	display: inline-block;
	border-left: 2px solid #32d3c3;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
.app-block1 {
	border-bottom: 1px dashed #eee;
}
/*右侧微信*/
.weixinr {
	background: url(../images/pic-6.png) no-repeat;
	width: 122px;
	height: 281px;
	position: fixed;
	top: 200px;
	right: 40px;
}
.weixinr i {
	background: url(../images/pic-7.png) no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 133px;
	right: 13px;
}
