@charset "utf-8";
/* 基础css */

*{ padding:0; margin:0;}
body{ font-size:12px; line-height:24px;}
ul,ol{ list-style:none;}
a{ color:#000; text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}
input{ border:none 0;}
input{outline:none;}
.clearfix:after{ display:block; content:''; clear:both;}
textarea{ resize:none;}
table{ border-collapse:collapse; margin:0 auto;}